body {
  background-color: #f5f6f7;
  margin-top: 3%;
  margin-left: 2%;
  margin-right: 2%;
}
.picture {
  display: block;
  max-width: 800px;
  height: auto;
}

.like-container {
  position: relative;
}
.like {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: #f5f6f7;
  border-radius: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  animation-name: like;
  animation-duration: 1.5s;
}

@keyframes like {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(1.5);
  }
}

.not-display-like {
  display: none;
}
